<!--
  Generated template for the QuakeDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quake Detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
<sebm-google-map-info-window [disableAutoPan]="true">
         <strong>{{quake.properties.title}}</strong>
       </sebm-google-map-info-window>
       </sebm-google-map-marker>
</sebm-google-map>

<!--look up how to add vibration to the phone when this page loads 

i installed ionic plugin add cordova-plugin-vibration

-->

 <ion-card class="animated shake">
  <ion-fab right top>
    <button ion-fab>
<ion-icon class="animated shake" name="pulse"></ion-icon>
    </button>
  </ion-fab>

    <ion-card-content>
    <ion-card-title class="animated shake">

    <h3>{{quake.properties.place}}</h3>
    <p>{{quake.properties.time | date:'MM/dd/yyyy @ h:mma'}}</p>
      
    </ion-card-title>
      <p>
       <!--some text here-->
      </p>
    </ion-card-content>
    <ion-item class="animated shake">
      <ion-icon  name='barcode' item-left style="color:lightslategrey"></ion-icon>
      <h2>Magnitude:</h2> 
      <ion-badge item-right>{{quake.properties.mag}}</ion-badge>
    </ion-item>
    <ion-item class="animated shake">
      <ion-icon name='water' item-left style="color: #55acee"></ion-icon>
     <h2>Tsunami:</h2> 
      <ion-badge item-right>{{quake.properties.tsunami}}</ion-badge>
    </ion-item>
    <ion-item class="animated shake">
      <ion-icon name='body' item-left style="color: seagreen"></ion-icon>
      <h2>Felt:</h2>
      <ion-badge item-right>{{feel}}</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
