<ion-header>
  <ion-navbar>
    <ion-title>
      What's Shaken'
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-card>
    <ion-item>
      <ion-label>Most Severe</ion-label>
      <ion-toggle color="danger" [(ngModel)]="magFilter" (ionChange)="magChanged()"></ion-toggle>
    </ion-item>
</ion-card>
<ion-list>
<button ion-item *ngFor="let quake of quakes" (click)="itemTapped($event, quake)">  
{{quake.properties.place}}
</button>
</ion-list>
</ion-content>
